# Temporary files
/nobackup/*
/code/*.asv
*.log

# Sensitive/Personal Data or External Resources
/data/ROSMAP*
/data/HASH*
/data/Human-GEM*
/external/*

# Negate for plots
!/nobackup/plots

# R files
*.DS_Store
*.Rhistory